{
    "rules": {
        "no-unused-expressions": ["error", {
        "allowShortCircuit": true,
        "allowTernary": true,
        "no-console": "off"
        }]
    },
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext",
        "prettier"
    ],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "requireConfigFile": false
    }
}