// components/_carnet-day.scss
@use '../abstracts/mixins' as m;

.carnet-day {
    display: contents;

    &__title {
        // margin-block: m.spacer(3) m.spacer(2);
        margin-bottom: m.spacer(0);
    }

    &__date {
        // styles de la date
        margin-top: m.spacer(1);
        margin-top: 0;
    }
}