// components/_carnet-day.scss
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.carnet-day {
    display: contents;

    &__title {}

    &__date {
        margin-top: 0;
        color: v.$color-text-muted;
    }
}

:root .carnet-day__title {
    margin-block-start: m.spacer(6);
}