@use '../abstracts/variables' as v;

.wp-block-image:not(.alignfull) {
    img {
        border-radius: v.$border-radius;

    }
}

.wp-block-image,
.wp-block-gallery {

    ~p {
        margin-top: 1rem;
    }
}

.wp-block-image.alignfull {
    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        object-position: center;
    }
}